<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>First Controller</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	<div ng-controller="FirstController">
		<h4>The simplest adding madchine ever</h4>
		<button ng-click="add(1)" class="button">Add</button>
		<button ng-click="subtract(1)" class="button alert">Subtract</button>
		<h4>Current count: {{counter}}</h4>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="js/02_app.js"></script>
</body>
</html>