<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Interpolate a String</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	<div ng-controller="MyController">
		<input ng-model="to"
			type="email"
			placeholder="Recipient" />
		<textarea ng-model="emailBody"></textarea>
		<pre> __previewText__ </pre>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="js/05_app.js"></script>
</body>
</html>